* {
	box-sizing: border-box;
  margin: 0;
　padding: 0;
  text-align: center;
}

a{
	text-decoration: none;
	color: #ffff00;
}
a:hover{
	 color: #f8f8ff;
}



.button {
	display: block;
	float: left;
	margin-left: 150px;
	margin-top: 10px;
	clear: left;
	color: #fff;
	border-bottom: 2px solid #d3d3d3;
	border-radius: 10px;
	text-decoration: none;
	line-height: 40px;
	background-color: #800000;
	height: 100px;
	width: 200px;
	font-size: 50px;
	text-align:center;
  padding-top: 30px;
}


.container {
	z-index: 2;
  width: 100%;
	min-height: 100%;
	padding: 30px 50px;
	background-image: url("pre.jpg");
	background-size: cover;

}

.dai{
	 font-size: 50px;
	 color:#800000;

}

.head{
	border:solid 2px #800000;
}
header{
	text-align:center;
    color: #5989cf;
    background: #b8860b;
    border-bottom: solid 6px #8b4513;
    border-radius: 9px;

}

.ht_cs,.java{
	 margin: 30px 30px;
	 font-size: 30px;
	 color: #006400;
}


li{
	list-style: none;
	font-size: 20px;
	margin:20px 20px;
	margin-right: 100px;
}
nav {
	top: 0;
	bottom: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	width: 48%;
	background: #006400;

}

.mdai{
	padding: 0.5em 1em;
 margin: 2em 0;
 color: #000;
 background: #006400;
}
.msen{
	 font-size: 25px;
	 text-align: left;
	 margin-left: 50px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;;
}
nav li {
	display: block;
	padding: 30px 20px;
	border-bottom: 3px solid #b8860b;
	height:100px;
	font-size: 40px;
}
nav:target {
	z-index: 3;
	-webkit-transform: translate3d(0, 0, 0);
}
nav:target ~ .container .containerOverlay {
	display: block;
}

.sen{
   color:#fff;
	 font-size: 20px;
	 margin-bottom: 10px;
}
#tabu {
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
#tabu:target ~ .container {
  -webkit-transform: translate3d(50%, 0, 0);
}

ul{
	 margin-top: 20px;
	 margin-left: 50px;
}
